.container {
    margin: 20px;
}

#container {
    width: 100%;
}

.schema-list {
    width: 100%;
}

.schema-row {
    margin-bottom: 20px;
}

.schema-name {
    border: none;
    text-transform: lowercase;
    margin-bottom: 0;
}

.schema-row--action {
    height: 48px;
    text-align: center;
}

.schema-loading {
    height: 16px;
    width: 16px;
    display: inline-block;
    text-indent: -9999em;
    background-repeat: no-repeat;
    background-image: url(../images/loading.gif);
}

.schema-match {
    color: #51A351;
}

.schema-mismatch {
    background-color: #bb4947;
    color: #fff;
}

.schema-mismatch:hover {
    background: #bb2725;
    color: #fff;
}

.js-accept-change:hover:after {
    content: '';
    border-bottom: 1px solid #999;
    position: absolute;
    display: block;
    height: 1px;
    bottom: 0;
    left: 0;
    width: 100%;
}
.legend.added {
    background: #bbffbb;
}

.legend.removed {
    background: #ffbbbb;
    text-decoration: line-through;
}

/* Note: Duplicated class to increase specificity */
.jsondiffpatch-delta.jsondiffpatch-node {
    display: block;
    overflow: auto;
}

.jsondiffpatch-delta li {
    margin-bottom: 0;
}

.jsondiffpatch-patch-container {
    position: relative;
    width: 100%;
    overflow: auto;
}

.jsondiffpatch-patch-container button {
    float: right;
    display: block;
}

.jsondiffpatch-unchanged {
    display: none;
}