.container {
    margin: 20px;
}

#container {
    width: 100%;
}

.schema-list {
    width: 100%;
}

.schema-row {
    margin-bottom: 20px;
}

.schema-row--action {
    text-align: center;
}

.schema-match {
    display: inline-block;
    padding: 12px 0;
    color: #51A351;
}

.schema-mismatch {
    background-color: #BB3838;
    color: #fff;
}

.legend.added {
    background: #bbffbb;
}

.legend.removed {
    background: #ffbbbb;
    text-decoration: line-through;
}

/* Note: Duplicated class to increase specificity */
.jsondiffpatch-delta.jsondiffpatch-node {
    display: block;
    overflow: auto;
}

.jsondiffpatch-delta li {
    margin-bottom: 0;
}

.jsondiffpatch-patch-container {
    width: 100%;
    overflow: auto;
}

.jsondiffpatch-patch-container button {
    float: right;
    display: block;
}

.jsondiffpatch-unchanged {
    display: none;
}